body
{
    margin:0;
    text-align: center;
    /*-font-family: "Helvetica Neue", Arial; -*/
    font-size: 16px
}

img
{
    border: 0;
}

a
{
    text-decoration: none;
    /*color: #204E91 */
    color: #8a0087 
}

/*-----header------*/
.header
{
padding-top: 10px;    
height: 150px;
background-color: white;
}

.header h1
{
/*-font-family:"Helvetica Neue", Arial; -*/
font-size: 22px;
padding-top: 10px;}

.wrapper
{
margin:0 auto 0 auto;
width: 780px;
text-align: left;
background-color: white;
}

.nav
{
text-align: left;
margin: 0;
}


