body
{
    margin:0;
    text-align: center;
    /*-font-family: "Helvetica Neue", Arial; -*/
    font-size: 16px
}

img
{
    border: 0;
}

a
{
    text-decoration: none;
    /*color: #204E91 */
    color: #8a0087 
}

/*-----header------*/
.header {
    position: relative;
    height: 180px;
    background-color: white;
}

/* テキスト部分を中央に固定 */
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* 画像をテキストの左に配置 */
.profile-pic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50%; /* テキストの左側 */
    margin-right: 200px; /* 必要に応じて調整 */
    height: 150px;
    object-fit: cover;
}

.header h1
{
/*-font-family:"Helvetica Neue", Arial; -*/
font-size: 22px;
padding-top: 10px;}

.wrapper
{
margin:0 auto 0 auto;
width: 780px;
text-align: left;
background-color: white;
}

.nav
{
text-align: left;
margin: 0;
}


